In [3]:
import pandas as pd

In [29]:
df = pd.read_excel("February.xlsx", sheet_name='12th Feb' , header=None)

In [30]:
df

                 0              1
0    XKE1023240965  XKE1028180841
1    XKE1029840188  XKE1023777308
2    XKE1028789892    KE164993127
3    XKE1022647964    KE859982322
4      KE213793225    KE735521396
..             ...            ...
516    KE651377934            NaN
517  XKE1028677021            NaN
518    KE092310776            NaN
519  XKE1022101113            NaN
520    KE917744500            NaN

[521 rows x 2 columns]

In [31]:
df.columns

Index([0, 1], dtype='int64')

In [32]:
df[0]

0      XKE1023240965
1      XKE1029840188
2      XKE1028789892
3      XKE1022647964
4        KE213793225
           ...
516      KE651377934
517    XKE1028677021
518      KE092310776
519    XKE1022101113
520      KE917744500
Name: 0, Length: 521, dtype: object

In [33]:
import pandas as pd

# Select rows where value in column1 is not in column2
filtered_df = df[~df[0].isin(df[1])]


filtered_df = filtered_df.drop(filtered_df.columns[1:], axis=1)

# Print the result
print(filtered_df)

                 0
27   XKE1024131278
32     KE541802145
33     KE798966417
37     KE201592650
40     KE779197493
..             ...
516    KE651377934
517  XKE1028677021
518    KE092310776
519  XKE1022101113
520    KE917744500

[460 rows x 1 columns]

In [35]:
filtered_df.to_excel("new.xlsx", index=False, header=None)